<div class="col-md-12 pt-3">
  <div
    class=" kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid"
  ></div>
  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-sm-11 col-md-11 col-lg-11">
          
          <h5>Texto completo de los comentarios</h5>
          <div *empty="dataSource"
          

          >
            <div id="table-container">
              <table
              
                mat-table
                matSort
                [dataSource]="dataSource"
                class="w-100"
              >
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                  <td mat-cell *matCellDef="let element" >
                    {{ element.date }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="stars">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header='number_stars'>Calificación</th>
                  <td mat-cell *matCellDef="let element" >
                    <span>
                      <i *ngFor="let star of [].constructor(element.number_stars)" class=" star fa fa-star"></i>
                    </span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="cac">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>CAC</th>
                  <td mat-cell *matCellDef="let element" >
                    {{ element.cac}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="comment" class="d-flex justify-content-center">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
                  <td mat-cell *matCellDef="let element" >
                    <span>
                      {{ element.comment }}
                    </span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header="reply" >Respuesta</th>
                  <td mat-cell *matCellDef="let element">
                    <button
                      *ngIf="!element.reply"
                      mat-button
                      mat-raised-button
                      color="accent"
                      (click)="openDialog(element)"
                    >Responder</button>
                    <span
                    class="btn btn-success"
                    *ngIf="element.reply"
                    (click)="openDialog(element)"
                    >
                      Ver
                    </span>
                  </td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="['date','cac', 'stars' , 'comment', 'action']; sticky: true"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: ['date','cac', 'stars' , 'comment', 'action']"
                ></tr>
              </table>
            </div>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
