<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <button class="kt-aside-close " id="kt_aside_close_btn">
            <i class="la la-close"></i>
        </button>

        <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop"
            id="kt_aside" style="opacity: 1;">
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                <div id="kt_aside_menu" class="kt-aside-menu kt-scroll ps ps--active-y" data-ktmenu-vertical="1"
                    data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500" style="height: 228px; overflow: hidden;">
                    <ul class="kt-menu__nav ">
                        <li *hasPermission="['actividad_respuestas']" routerLinkActive="active"
                            [routerLink]="['/activity']" class="kt-menu__item  kt-menu__item--submenu"
                            aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                <i class="kt-menu__link-icon fa fa-comments "></i><span
                                    class="kt-menu__link-text">Dashboard</span></a>
                        </li>
                        <li routerLinkActive="active" [routerLink]="['/administration/users']"
                            class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
                            data-ktmenu-submenu-toggle="hover">
                            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                                <i class="kt-menu__link-icon fa fa-user "></i><span
                                    class="kt-menu__link-text">Usuarios</span></a>
                        </li>
                    </ul>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; height: 228px; right: 2px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 93px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div id="kt_header" class="kt-header kt-grid kt-grid--ver  kt-header--fixed ">
                <div class="kt-header__brand kt-grid__item  " id="kt_header_brand" kt-hidden-height="80">
                    <div class="kt-header__brand-logo" id="logo">
                        <img src="../assets/amarilio1.png" alt="" />
                    </div>
                </div>
                <h3 class="kt-header__title kt-grid__item w-10">
                    Análisis de sentimiento
                </h3>

                <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper"
                    style="opacity: 1;">
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-2 pt-2">
                            {{ name }}
                           <i
                             (click)="closeSession()"
                             class="fa fa-sign-out mt-4 ml-1"
                             [matTooltipPosition]="'left'"
                             matTooltip="Cerrar sesión"
                           ></i>
                         </div>
                    </div>
                </div>
            </div>
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor p-3" id="kt_content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>