@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cdk-overlay-pane-select-search.cdk-overlay-pane-select-search-with-offset {
  margin-top: 0px!important;
}

.kt-aside {
  z-index: 103!important;
}

.chart {
  width: 100%!important; 
  min-height: 250px;
}

$local: (
  50: #22b9ff,
  100: #22b9ff,
  200: #22b9ff,
  300: #22b9ff,
  400: #22b9ff,
  500: #22b9ff,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$candy-app-primary: mat-palette($local);
$candy-app-accent:  mat-palette($mat-indigo);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
@include angular-material-theme($candy-app-theme);

#kt_header_brand {
  width: 10%;
}

.kt-header__brand-logo {
  img {
    max-width: 100%;
    width: 100%;
  }
}