<div class="col-md-10 ml-3 pt-3">
    <div class=" kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid">
        <h2>Estadísticas</h2>
    </div>
    <div class="row kt-portlet p-3 kt-portlet--border-bottom-brand">
        <div class="col-xl-12" *empty="dataSource">
            <div class="row row-full-height">
                <div class="col-sm-12 col-md-12 col-lg-12 ">
                    <div id="table-container">
                        <table mat-table matSort [dataSource]="dataSource" class="w-100">
                            <ng-container matColumnDef="storeCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header >Cac</th>
                                <td mat-cell *matCellDef="let element">
                                        {{ element.storeCode }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="averageRating">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header='averageRating' >Rating</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.averageRating }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="totalReviewsCount">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header ># de Reseñas</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.totalReviewsCount }}
                                </td>
                            </ng-container>
                            <tr mat-header-row
                                *matHeaderRowDef="['storeCode', 'averageRating', 'totalReviewsCount']; sticky: true">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['storeCode', 'averageRating', 'totalReviewsCount']">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>