<div class="col-md-12 pt-3">
  <h2>Texto completo de los comentarios por entidad</h2>
  <div >
    <div class="row" *empty="entities">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="kt-portlet p-3  kt-portlet--border-bottom-brand">
              <div class="row"></div>
              <app-entity-box *ngIf="entities.length" (selected)="selectedEntity($event)" [data]="entities"
                [loading]="loading"></app-entity-box>
            </div>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8 kt-portlet p-3  kt-portlet--border-bottom-brand">
            <div>
              <div id="table-container">
                <table mat-table matSort [dataSource]="dataSource" class="w-100">
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.date }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="cac">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAC</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.cac}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="comment" class="d-flex justify-content-center">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comentario</th>
                    <td mat-cell *matCellDef="let element">
                      <span [innerHTML]="highlightComment(element.comment)"></span>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="['date', 'cac', 'comment']; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['date', 'cac', 'comment']"></tr>
                </table>
              </div>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>